body {
	background-color: #303030;;
}

button {
	display: block;
	width: 100%;
	height: 75px;
	margin: 5px;
	background-color: lightblue;
	font-size: 25px;
	font-family: Tahoma, Geneva, sans-serif;
}

.css, 
.css-statements, 
.css-selectorsCombinator, 
.css-declarations, 
.css-properties, 
.css-values, 
.javascript {
	display: none;
	text-align: left;
	padding: 20px;
	font-size: 25px;
	color: gray;
	font-family: Tahoma, Geneva, sans-serif;
}

table {
	color: gray;
	font-family: Tahoma, Geneva, sans-serif;
}