/* GLOBAL */
body, html {
  font: 16px/1.5 Arial, Helvetica,sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

div, nav, button{
  padding: 0;
  margin: 0;
  display: block;
}

div.data-container, div.css-container {
  margin-left: 250px;
}

/* HEADER */
.data-header {
	height: 100px;
  padding: 0;
  margin: 0;
}

/* NAV */


/* BODY */
.data-body, .css-body {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	float: left;
}

/* FOOTER */
.data-footer {
	clear: both;
	height: 120px;
	background-color: #25383C;
}

#footer-content1 {
	font-size: 25px;
	font-weight: bold;
	color: white;
	margin-left: 5%;
}

#footer-content2 {
	font-size: 10px;
	font-weight: bold;
	color: white;
	margin-left: 5%;
}

.footer-content3 {
	float: right;
	margin-right: 5%;
	color: white;
	font-sie: 20px;

}



/*######## NAV BAR #######*/
nav {
  width: 250px;
  margin: 0;
  height: 100%;
  position: fixed;
  background-color: #eee;
}

nav ul {
  background-color: #eee;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

ul.data-nav li {
  list-style: none;
  float: left;
  display: block;
  width: 100%;
}

ul.data-nav li a {
  display: block;
  text-decoration: none;
  min-height: 16px;
  text-align: center;
  padding: 14px;
  text-transform: uppercase;
  color: #666;
}

ul.data-nav li a:hover {
  background: #0080ff;
  color: white;
}

ul.data-nav li.dropdownIcon {
  display: none;
}

footer{
    background-color: dodgerblue;

}


button {
	display: block;
	width: 100%;
	height: 75px;
	background-color: lightblue;
	font-size: 25px;
	font-family: Tahoma, Geneva, sans-serif;
}

.css,
.css-statements,
.css-selectorsCombinator,
.css-declarations,
.css-properties,
.css-values,
.javascript {
	display: none;
	text-align: left;
	padding: 20px;
	font-size: 25px;
	color: gray;
	font-family: Tahoma, Geneva, sans-serif;
}
